<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>whizpaymp_reconsilation</display-name>
  <welcome-file-list>
    <welcome-file>login.do</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LocalMasterCache</servlet-name>
    <servlet-class>storeplace.util.LocalMasterCache</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <filter>
    <filter-name>applicationSecurityFilterChain</filter-name>
    <filter-class>storeplace.application.security.ApplicationSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>applicationSecurityFilterChain</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/jsp/404message.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/jsp/404message.jsp</location>
  </error-page>

  <servlet>
    <servlet-name>ReportSchedular</servlet-name>
    <servlet-class>storeplace.scheduleengine.ReportSchedular</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DiligenceReportSchedular</servlet-name>
    <servlet-class>storeplace.scheduleengine.DiligenceReportSchedular</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet> 
  <servlet>
    <servlet-name>LocalMasterCacheHandler</servlet-name>
    <servlet-class>storeplace.statemanagement.controller.LocalMasterCacheHandler</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
		<servlet-name>StartQ2Server</servlet-name>
		<servlet-class>storeplace.jpos.util.SPQ2ServerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext-core.xml,/WEB-INF/applicationContext-Spring-Security.xml</param-value>
  </context-param>
  <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping> 
  <jsp-config>
    <taglib>
      <taglib-uri>/spring</taglib-uri>
      <taglib-location>/taglib/spring.tld</taglib-location>
    </taglib>
  </jsp-config>  
  <session-config>
     <session-timeout>30</session-timeout>
     <cookie-config>
  		<http-only>true</http-only>
  		<!-- <secure>true</secure> -->
 	 </cookie-config> 
  </session-config>    
  
  
  <!-- Spring Security Filter -->
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>